@font-face {
	font-family: 'Grotesk';
	src: url('../fonts/HKGrotesk-Regular.eot');
	src: local('☺'), url('../fonts/HKGrotesk-Regular.woff') format('woff'), url('../fonts/HKGrotesk-Regular.ttf') format('truetype'), url('../fonts/HKGrotesk-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Grotesk-Bold';
	src: url('../fonts/HKGrotesk-Bold.eot');
	src: local('☺'), url('../fonts/HKGrotesk-Bold.woff') format('woff'), url('../fonts/HKGrotesk-Bold.ttf') format('truetype'), url('../fonts/HKGrotesk-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
