@font-face {
	font-family: 'Grotesk';
	src: url('http://refracta.me/fonts/HKGrotesk-Regular.woff');
	src: local('☺'), url('http://refracta.me/fonts/HKGrotesk-Regular.woff') format('woff'), url('http://refracta.me/fonts/HKGrotesk-Regular.ttf') format('truetype'), url('http://refracta.me/fonts/HKGrotesk-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Grotesk-Bold';
	src: url('http://refracta.me/fonts/HKGrotesk-Bold.eot');
	src: local('☺'), url('http://refracta.me/fonts/HKGrotesk-Bold.woff') format('woff'), url('http://refracta.me/fonts/HKGrotesk-Bold.ttf') format('truetype'), url('http://refracta.me/fonts/HKGrotesk-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'NeuHelvetia';
	src: url('../fonts/neuhelvetia.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

body{
  background:#23CD9B url(http://refracta.me/images/background.svg) repeat center top;
  background-attachment: fixed;
  color: #63B3D3;
  font-family: 'Grotesk';
  font-size: 30px;
  line-height: 30px;
  overflow-x:hidden;
  margin:0px;
  text-align: center ;
	animation: fadeout 10s infinite alternate;
	animation-delay: 10s;
	-moz-animation: fadeout 10s infinite alternate;
	-moz-animation-delay: 10s;
	-webkit-animation: fadeout 10s infinite alternate;
	-webkit-animation-delay: 10s;
	-o-animation: fadeout 10s infinite alternate;
	-o-animation-delay: 10s;
}

@keyframes fadeout {
    to {
	        background-color:#31B7B4;
    }

}

@-moz-keyframes fadeout {
    to {
        background-color: #31B7B4;
    }
}

@-webkit-keyframes fadeout {
    to {
        background-color: #31B7B4;
    }
}

@-o-keyframes fadeout {
    to {
        background-color: #31B7B4;
    }
}

header {
  width: 60%;
	padding: 2% 0;
	text-align: left;
	margin-left: 20%;
}

#main {
  font-size: 25px;
  color: #73D3D3;
  width: 100%;
  height: 100%;
	margin-bottom: 10%;
}

.links {
	white-space: nowrap;
	margin: 0;
	float: right;
}

.links li {
	list-style: none;
	display: inline-block;
	margin-left: 7px;
}
.links a {
	color: #fafafa;
}
.links a:hover {
	color: #eee;
}

.categories {
  width: 50%;
  height: 100%;
  float: left;
  list-style-type: none;
}

.header-text {
	font-family: 'NeuHelvetia';
}

#presentation {
	box-sizing: border-box;
	box-shadow: 10px;
	-o-border-radius: 10px -webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0px 0px 5px rgba(49,183,180,0.2);
	-moz-box-shadow: 0px 0px 5px rgba(49,183,180,0.2);
	box-shadow: 0px 0px 5px rgba(49,183,180,0.2);
	background-color: rgba(113,142,122,0.6);
	width: 60%;
	position: relative;
	float: inherit;
	margin-left: 20%;
	margin-right: 20%
	margin-bottom: 10%;
	color: #FAFAFA;
}

.presentation p{
	width: 80%;
	text-align: justify;
}

.big-hello {
  font-family: 'Grotesk-Bold';
  font-size: 75px;
	padding-bottom: 0%;
}

h3 {
	font-family: 'Grotesk-Bold';
	font-size: 35px;
}

.link-landing a{
	color: #FAFAFA;
}

.link-landing a:hover{
	color: #23CD9B;
}

.firm {
	padding-left: 24%;
	text-align: left;
	color: #F1F1F1;
}

footer {
	margin-top: 1%;
  background: transparent;
	margin-bottom: 1%;
	font-size: 15px;
	color: #FAFAFA;
}

@media screen and (max-width: 768px) {
	#presentation, header {
		margin: 1%;
		width: 98%;
	}
}
